snippet pdb
    import pdb; pdb.set_trace()

snippet #!
	#!/usr/bin/env python3

snippet #=
	#==========================================================
	# ${1}
	#==========================================================

snippet doc_fun
	"""${1:Summary sentence}.
	
	${2:Info paragraph}
	
	Args:
		${3:}
	
	Returns:
		${4:}
	
	Raises:
		${5:}
	"""

snippet doc_class
	"""${1:Summary sentence}

	${2:Info paragraph}

	Attributes:
		${3:}
	"""
