snippet pdb
    import pdb; pdb.set_trace()

snippet #!py
		#!/usr/bin/env python

snippet #=
		#==========================================================
		#
		#==========================================================
